name: .NET

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest
    name: Update package

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
        
    - name: Restore dependencies
      run: dotnet restore
      
      
    - name: Test
      run: dotnet test --no-build --verbosity normal
      
    - name: Packing
      run: |
          dotnet build HighlightTextBlock/HighlightTextBlock.csproj -c Release
          dotnet pack HighlightTextBlock/HighlightTextBlock.csproj -c Release
          
    - name: Push package
      run: dotnet nuget push "**/*.nupkg" --skip-duplicate --source https://nuget.pkg.github.com/platonenkov/index.json -k ${{secrets.GITHUB_TOKEN}}     

    - name: Publishing
      run: dotnet nuget push "**/*.nupkg" -k ${{ secrets.NuGetApiKey }} --skip-duplicate -s 
